@{
    ViewData["Title"] = "Home Page";
}


<!--Page Details-->
<div class="text-center">
    <h1 class="display-4">Our View</h1>
    <p>Welcome to prinja car yard. We deal with the different type of vehicles like Cars, Vans, Truck, Suvs etc</p>
</div>